<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to One Month Rails </h1>
		<p>
			You've found my first Rails App <%= link_to "SmartForce.PRO", "http://smartforce.pro" %>
		</p>
		<p>
			<%= link_to"Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>

<% end %>