$btnPrimaryBackground: gray;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/* removes the shadow on the bootstrap navbar
/* .navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
*/ 
.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;

	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}
/* text i added from stackoverflow */
.box {
	float:left;
	overflow: hidden;
	background: #FFF;
	padding: 5px;
	box-shadow: 0 0 4px 0 #000;
	border-radius: 5px;
	margin: 5px;
	width: 210px;
}

#pins {
	overflow: hidden;
}
.box img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}




